.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    background-color: darkolivegreen;
    height: 500px;
}
.flexbox > div {
    border: 1px solid black;
    padding: 10px;
    background-color: deeppink;   
}
.flexbox > div:nth-child(3) {
    align-self: stretch;
}
