/* flexbox */

.flexbox{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    background-color: darkolivegreen;
    height: 500px;
}
.flexbox > div {
    border: 1px solid black;
    padding: 10px;
    background-color: deeppink;   
}
.flexbox > div:nth-child(3) {
    align-self: stretch;
}

.flexbox > div:nth-child(4) {
    align-self: flex-start;
}


/* cards */

.cards {
    display: flex;
    margin: 15px;
}
.card {
    width: 250px;
    border: 1px solid black;
    box-shadow: 0 0 10px 0 black;
    padding: 0 0 10px 10px;
    margin-right: 15px;
    
}
.card > div {

    flex-grow: 1;
}
.card > a {
    text-decoration: none;
}